[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
requests = "==2.32.3"
urllib3 = "==2.2.3"
lxml = "*"
coverage = "*"
requests-mock = "*"
Flask = ">=3"
werkzeug = ">=3"
firebase-admin = "6.5.0"
mock-firestore = "*"
pytest-mock = "*"
pytest = "*"
pylint = "==3.3.2"
requests-random-user-agent = "*"
jsonpath-ng = "*"
backoff = "*"
pytz = "*"
beautifulsoup4 = "*"
playwright = "*"
webdriver-manager = "*"
apprise = "==1.9.0"
python-dotenv = "*"
undetected-chromedriver = "*"
prompt-toolkit = "*"
"ruamel.yaml" = "*"
pyright = "==1.1.390"
types-beautifulsoup4 = "==4.12.0.20241020"
selenium = "==4.27.1"
gunicorn = "23.0.0"
flask-api = {editable = true, ref = "develop", git = "git+https://github.com/flask-api/flask-api.git"}
setuptools = "==75.6.0"
certifi = "==2024.12.14"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
exceptiongroup = "*"

[requires]
python_version = "3"
